body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: blanchedalmond;
}

h1{
    margin-bottom: 1rem;
}

section {
    display: flex;
    column-gap: 1em;
}

.card {
    aspect-ratio: 3.5 / 4.2 ;
    width: 20em;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s ease;
 }

 .card-wrapper {
    display: inline-block;
 }
 
 .card-wrapper:hover .card {
    transform: perspective(400px) rotateY(180deg) scale(1.1);
    box-shadow: 1px 5px 30px rgb(94, 94, 94);
 }

 .card-wrapper:hover {
    z-index: 1;
 }

 .card-wrapper:not(:hover) .card{
    transition: 1.5s ease;
 }

.card-front,
.card-back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front img {
    aspect-ratio: 1 /1;
    max-width: 88.57%;
    margin-top: 5.71%;
}